.card {
    background: #fff;
    border-radius: 2px;
    height: 250px;
    margin: 1rem;
    position: relative;
    width:255px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center;
    
  }
 
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background: yellow;
  }
  .card > .img-container > img {
    width: 60%;
    
  }
  
.name{
    font-size: 24px;
}
  
  